[submodule "config/lscolors"]
	path = config/lscolors
	url = https://github.com/trapd00r/LS_COLORS.git
[submodule "vim/bundle/abbott"]
	path = vim/bundle/abbott
	url = git@github.com:bcat/abbott.vim.git
[submodule "vim/bundle/abolish"]
	path = vim/bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/bundle/bad-whitespace"]
	path = vim/bundle/bad-whitespace
	url = https://github.com/bitc/vim-bad-whitespace.git
[submodule "vim/bundle/codefmt"]
	path = vim/bundle/codefmt
	url = https://github.com/google/vim-codefmt.git
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/ctrlp-py-matcher"]
	path = vim/bundle/ctrlp-py-matcher
	url = https://github.com/FelikZ/ctrlp-py-matcher.git
[submodule "vim/bundle/eunuch"]
	path = vim/bundle/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim/bundle/glaive"]
	path = vim/bundle/glaive
	url = https://github.com/google/vim-glaive.git
[submodule "vim/bundle/go"]
	path = vim/bundle/go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/haskell"]
	path = vim/bundle/haskell
	url = https://github.com/raichoo/haskell-vim.git
[submodule "vim/bundle/latex-box"]
	path = vim/bundle/latex-box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule "vim/bundle/maktaba"]
	path = vim/bundle/maktaba
	url = https://github.com/google/vim-maktaba.git
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/php-stuff"]
	path = vim/bundle/php-stuff
	url = https://github.com/paulyg/Vim-PHP-Stuff.git
[submodule "vim/bundle/sensible"]
	path = vim/bundle/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/protobuf"]
	path = vim/bundle/protobuf
	url = https://github.com/willnorris/vim-protobuf.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/rsi"]
	path = vim/bundle/rsi
	url = https://github.com/tpope/vim-rsi.git
[submodule "vim/bundle/scriptease"]
	path = vim/bundle/scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
