[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/rygwdn/ultisnips.git
[submodule "vim/bundle/syntaxhaskell"]
	path = vim/bundle/syntaxhaskell
	url = https://github.com/vim-scripts/syntaxhaskell.vim.git
[submodule "vim/bundle/blogit"]
	path = vim/bundle/blogit
	url = git://git.symlink.me/pub/romain/blogit.git
[submodule "vim/bundle/latex-box"]
	path = vim/bundle/latex-box
	url = https://github.com/vim-scripts/LaTeX-Box.git
