snippet t "Ampersand" w
&
endsnippet

snippet &lsquo; "Left single quote" i
‘
endsnippet

snippet &rsquo; "Right single quote" i
’
endsnippet

snippet &ldquo; "Left double quote" i
“
endsnippet

snippet &rdquo; "Right double quote" i
”
endsnippet

snippet &mdash; "Em dash" i
—
endsnippet

snippet &ndash; "En dash" i
–
endsnippet
