snippet env "LaTeX environment" w
\begin{${1:name}}$2
  $0
\end{$1}
endsnippet

snippet eq "LaTeX displayed equation" w
\[
  $0
\]
endsnippet

snippet template "Basic LaTeX template for math homework, essays, or other short documents" b
\documentclass{bcathw}

\begin{document}
  \title{$1}
  \author{Jonathan Rascher}
  \maketitle

  $0
\end{document}
endsnippet
